:root {
  --bg: #0e0e0e;

  --font-header: 'Red Hat Mono', monospace;
  --size-header: 50px;
  --weight-header: 300;
  --heading: #ff9d5b;


  --font-subheading: 'Red Hat Mono', monospace;
  --size-subheading: 40px;
  --weight-subheading: 400;
  --subheading: #9e9eff;

  --font-body: 'Rubik', sans-serif;
  --size-body: 10px;
  --weight-body: 400;
  --body: #d0d0d0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  min-height: 100svh;
  background: var(--bg);
}

#root {
  width: 100%;
  min-height: 100svh;
}
